* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  justify-content: center;
}

.main h1 {
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 24px;
}

.main-content {
  display: flex;
  gap: 5rem;
  margin-left: 90px;
}

.display {
  display: flex;
  width: 65%;
}

.display h2 {
  margin-left: 0;
}

#reflesh {
  margin-left: 145px;
  height: 25px;
  width: 25%;
}

.addScore h2 {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border: 1px solid black;
}

#display-items {
  margin: 0;
  border: 2px solid #c9a7c5;
  border-radius: 5px;
  list-style-type: none;
  padding-left: 0;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 60%;

  /* background-color: #dfd6de; */
}

li {
  padding: 4px;
  color: #0a0c0a;
  overflow-y: scroll;
}

.display-all {
  flex-direction: column;
  width: 50%;
}

.submit-btn {
  width: 60%;
  font-size: 20px;
}

#form input {
  font-size: 20px;
}

#form input::placeholder {
  color: black;
  font-size: 15px;
  font-weight: 600;
}

.odd {
  background-color: #c4bebe;
}
